.DS_Store

#Modules
modules/*
!modules/readme

core/*/prepare/*
core/*/transcode/*
!core/*/prepare/readme
!core/*/transcode/readme
runs/*.csv
scratch/wav/*
scratch/flac*
!scratch/readme

wget-log

config/modules.info
